<main class="container">

    <section class="list-all">
        <h1>Produtos</h1>
        <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText id="price" (input)="onSearchChange($event)" placeholder="Pesquisar" />
        </span>

        @if ((this.searchFilter || []).length>0) {
        <div class="product-item" *ngFor="let product of searchFilter">
            <h2>{{ product.nome }}</h2>
            <p>{{ product.descricao }}</p>
            <p>Price: {{ product.preco }}R$</p>
            <div class="image-container">
                <div class="product-image" *ngFor="let image of product.imagens">
                    @if(image){
                    <img [src]="image.src">
                    }
                </div>
            </div>
            <!-- <button (click)="addCartUnit(product)">Adicionar ao carrinho</button>
            <button (click)="removeCartUnit(product)">Remover do carrinho</button> -->
        </div>
        }
        @else if(this.searchFilter===undefined){
        <div class="product-item" *ngFor="let product of products$ | async">
            <h2>{{ product.nome }}</h2>
            <p>{{ product.descricao }}</p>
            <p>Price: R$ {{ product.preco }}</p>
        </div>
        }
        @else{
        <span>Não encontrou</span>
        }
    </section>

</main>

<!-- Add a new product form -->