<main class="container">
    <div>
        <span>Rivas modas</span>
        <p-sidebar [style]="{'width':'250px'}" [(visible)]="sidebarVisible" position="right">
            <ng-template pTemplate="header">Rafael Rivas</ng-template>
            <ng-template pTemplate="content">
                <div class="nav__items">
                    <span>Home</span>
                    <span>Products</span>
                    <span>About</span>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="footer__items">
                @if (isUserLogged) {
                    <a routerLink="/signIn">
                        <p-button label="Login" [text]="true" [raised]="true" [plain]="true"></p-button>
                    </a>
                    <a routerLink="/signUp">
                        <p-button label="Register" [text]="true" [raised]="true" [plain]="true"></p-button>
                    </a>
                } @else {
                    <a routerLink="/signIn">
                        <p-button label="Logout" [text]="true" [raised]="true" [plain]="true"></p-button>
                    </a>
                }
                </div>
            </ng-template>
        </p-sidebar>
        
    </div>
    <i class="pi pi-bars" id="menu__icon" (click)="toggleSidebar()"></i>
</main>