<main class="container">
    <div>
        <span>Rivas modas</span>
        <p-sidebar [style]="{'width':'250px'}" [(visible)]="sidebarVisible" position="right">
            <ng-template pTemplate="header">Rafael Rivas</ng-template>
            <ng-template pTemplate="content">
                <div class="nav__items">
                    <!-- <div class="col-md-12 col-md-push-6 text-center">
                        <a routerLink="/products/all" routerLinkActive="active"> <button id="Enter"
                                class="btn btn-primary btn-block btn-flat fa fa-sign-in"> Log-In</button></a>
                    </div> -->
                    <div><a href="/products" routerLinkActive="active">Produtos</a></div>
                    <div><a href="/products/insert" routerLinkActive="active">Criar produtos</a></div>
                    <div><a href="/products/insert" routerLinkActive="active">Criar produtos</a></div>
                </div>
            </ng-template>
            <ng-template pTemplate="footer">
                <div class="footer__items">
                @if (isUserLogged) {
                    <a routerLink="/signIn">
                        <p-button label="Login" [text]="true" [raised]="true" [plain]="true"></p-button>
                    </a>
                    <a routerLink="/signUp">
                        <p-button label="Register" [text]="true" [raised]="true" [plain]="true"></p-button>
                    </a>
                } @else {
                    <a routerLink="/signIn">
                        <p-button label="Logout" [text]="true" [raised]="true" [plain]="true"></p-button>
                    </a>
                }
                </div>
            </ng-template>
        </p-sidebar>
        
    </div>
    <i class="pi pi-bars" id="menu__icon" (click)="toggleSidebar()"></i>
</main>