<main class="container">
  <section class="list-all">
    <div class="fornecedor-title-box">
      <span id="title">Fornecedores</span>
      <p-button routerLink="/supplier/insert" label="Novo Fornecedor" icon="pi pi-plus"></p-button>
    </div>

    @if ((this.fornecedores || []).length>0) {
    <div
      class="fornecedor-item"
      *ngFor="let fornecedor of fornecedoresObs | async"
    >
      <h2>Nome: {{ fornecedor.nome }}</h2>
      <p>CNPJ: {{ fornecedor.cnpj }}</p>
      <button (click)="showEditFornecedor(fornecedor)">Edit</button>
      @if(isEdit){
      <section class="edit-modal">
        <div class="edit-box">
          <span>Cnpj</span>
          <input type="search" [(ngModel)]="cnpj" />
          <span>Nome</span>
          <input type="search" [(ngModel)]="nome" />
          <div class="buttons-box">
            <button (click)="updateFornecedor(fornecedor)" id="edit">
              Salvar
            </button>
            <button (click)="isEdit = false" id="cancel">Cancelar</button>
          </div>
        </div>
      </section>
      }
    </div>
    } @else{
    <span>Não encontrou</span>
    }
  </section>
</main>

<!-- Add a new product form -->
