<main class="container">

    <section class="list-all">
        <h1>Fornecedores</h1>

        @if ((this.fornecedores || []).length>0) {
        <div class="product-item" *ngFor="let fornecedor of fornecedores">
            <h2>{{ fornecedor.nome }}</h2>
            <p> CNPJ: {{ fornecedor.cnpj }}</p>
            <!-- <button (click)="updateProduct(product.$key, { name: 'Updated Product' })">Update</button>
            <button (click)="deleteProduct(product.$key)">Delete</button> -->
        </div>
        }
        @else{
        <span>Não encontrou</span>
        }
    </section>

</main>

<!-- Add a new product form -->