<main class="container">
      <p-card header="Novo produto" class="card__product">
        <div class="input__box">
          <select id="fornecedor" [(ngModel)]="newProdutoIdFornecedor" (click)="onUpdateFornecedor($event)">
            <option [value]="for.cnpj" *ngFor="let for of fornecedoresObs | async" >{{for.nome}}</option>
          </select>
          <span class="p-float-label">
            <input pInputText id="sku" [(ngModel)]="newProdutoSKU" />
            <label for="sku">SKU</label>
          </span>
          <span class="p-float-label">
            <input pInputText id="name" [(ngModel)]="newProdutoNome" />
            <label for="name">Nome</label>
          </span>
          <span class="p-float-label">
            <input
              pInputText
              id="description"
              [(ngModel)]="newProdutoDescricao"
            />
            <label for="description">Descrição</label>
          </span>
          <span class="p-float-label">
            <input pInputText id="price" [(ngModel)]="newProdutoPreco" />
            <label for="price">Preço</label>
          </span>
          <span class="">
            <p><label for="images" mode="basic">Imagens</label></p>
            <input
              name="images"
              type="file"
              multiple
              accept="image/*"
              (change)="onFileChange($event)"
            />
          </span>
        </div>
        <p-button
          [style]="{ 'margin-top': '2rem' }"
          label="Inserir produto"
          icon="pi pi-check"
          (onClick)="addProduct()"
        ></p-button>
      </p-card>
      <p-toast/>
</main>
