<main class="container">
    <section class="card__product">
        <section class="title__box">
            <h1>Login</h1>
        </section>
        <div class="input__box">
            <span class="p-float-label">
                <input pInputText id="email" [(ngModel)]="email" />
                <label for="email">Email</label>
            </span>
            <span class="p-float-label">
                <p-password [(ngModel)]="password" [feedback]="false"></p-password>
                <label for="password">Senha</label>
            </span>
        </div>
        <section class="buttons__box">
            <span>Não tem conta?<a style="margin-left: 4px;" routerLink="/signUp">Cadastre-se</a></span>
        </section>
        <p-button label="Logar" icon="pi pi-check" (click)="sendLogin()"></p-button>
    </section>
</main>