<main class="container">
    <p-card header="Novo fornecedor" class="card__product">
        <div class="input__box">
            <span class="p-float-label">
                <input pInputText id="cnpj" [(ngModel)]="fornecedorCnpj" />
                <label for="cnpj">CNPJ</label>
            </span>
            <span class="p-float-label">
                <input pInputText id="name" [(ngModel)]="fornecedorNome" />
                <label for="name">Nome</label>
            </span>
        </div>
        <p-button [style]="{ 'margin-top': '2rem' }" label="Inserir Fornecedor" icon="pi pi-check"
            (onClick)="addFornecedor()"></p-button>
    </p-card>

</main>